body {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.column {
    float: left;
}

.left {
    width: 34%;
}

.right {
    width: 66%;
}

@media screen and (max-width: 600px) {
    column {
        width: 100%;
    }
}

header {
    border-bottom: solid 2px #083d77;
    font-size: 3rem;
}

.header-list {
    height: 100px;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-item {
    display: inline-block;
    line-height: 100px;
    vertical-align: middle;
}

#title {
    color: #083d77;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 20px;
    padding-left: 8px;
    animation: moveOutRight .8s 2s;
    animation-fill-mode: forwards;
    fill: #99B898;
}

img {
    height: 100px;
    vertical-align: middle;
    animation: forwards .8s, bump .8s cubic-bezier(.3,.09,0,1.54) 1.4s, forwards 2.4s;
    animation-fill-mode: forwards;
    fill: #355C7D;
}

@keyframes bump {
  50% {
   transform: translateX(-15%);
  }
  100% {
    transform: translateX(20%);
  }
}

@keyframes moveOutRight {
  50% {
    transform: translateX(20%);
    letter-spacing: 10px;
  }
  100% {
    transform: translateX(20%);
    letter-spacing: 1px;
  }
}

aside {
  background-color: #e9e9e9;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.projects-header {
  margin-top: 40px;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#projects-list {
  color: #4c5760;
  list-style: none;
  margin-bottom: 10px;
}

.project-item {
  font-size: 1.2rem;
  padding: 5px;
  text-transform: capitalize;
}

#projectButton {
  color: #D11C0A;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: 40px;
}

#projectButton:hover {
  color: #011638;
}

#projectButton:active {
  color: #083D77;
}

#projectButton:focus {
  outline: none;
}

main {
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

#current-project {
  text-align: center;
  font-size: 2rem;
  color: #011638;
  margin-top: 10px;
}

#todos-list {
  list-style: none;
}

.todo-item {
  font-size: 1rem;
  padding: 5px;
  text-transform: capitalize;
}

.todos-item {
    border-bottom: 1px solid #4c5760;
    margin-right: 20px;
}

.material-icons {
  margin-left: 20px;
  font-size: 20px !important;
  vertical-align: bottom;
  color: #011638;
}

.material-icons:hover {
  color: #D11C04;
  cursor: pointer;
}

.material-icons:active {
  color: #4C5760;
}

.todo-remove-button {

}

#todoButton {
  color: #D11C0A;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: 40px;
}

#todoButton:hover {
  color: #011638;
}

#todoButton:active {
  color: #083D77;
}

#todoButton:focus {
  outline: none;
}
